#row-bs div{
    /* margin-left: 10px; */
}

#vertical-line{
    transform: rotate(45deg);
}

.blue-ball{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 25px;
    float: right;
}

.vertical-line{
    width: 4px;
    height: 100%;
    background-color: crimson;

}